.container {
    width: 100vw;
    max-width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: chartreuse;
}

.containerScroll {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    gap: 100%;
}

.navBarCountries,
.navBarLeagues,
.navBarSeasons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
    height: 100vh;
    padding: 16.7rem;
}

.containerButton {
    display: flex;
    height: max-content;
    width: max-content;
    position: absolute;
    bottom: 4rem;
    left: 4rem;
}

.containerTables {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    position: relative;
    top: 45rem;
}
.containerPlayers {
    display: flex;
    width: 60%;
    height: 95rem;
    align-items: center;
    justify-content: center;
}
