.containerTimer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 15rem;
    background: #daa520;
    border-radius: 8px;
}

.currentTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: fantasy;
    gap: 0.8rem;
    margin-right: 25px;
    background: black;
    border-radius: 12px;
}

.placar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: fantasy;
    gap: 0.8rem;
    margin-left: 36px;
    background: black;
    border-radius: 15px;
    width: 4rem;
    justify-content: center;
}
