.containerTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 10rem;
    background: black;
    border-radius: 20px;
    box-shadow: 1px 5px 15px 5px rgb(0, 0, 0, 1);
}

.currentTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: fantasy;
    gap: 1rem;
}

.placar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: fantasy;
    gap: 1rem;
}
