header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 3rem;
    border-bottom: 1px solid black;
    margin-left: 2%;
    transition: opacity 0.5s ease;
}

header span {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: #73817b;
    text-shadow: 0 0 10px #73817b;
    font-size: 1.5rem;
    padding: 2rem;
}

.containerModal {
    display: flex;
    margin-right: 2rem;
    cursor: pointer;
    align-items: center;
    flex-direction: row-reverse;
}

.loading {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    width: 3rem;
    height: 3rem;
}

.loading > img {
    width: 30px;
    height: 30px;
    animation: girar 2s infinite linear;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
